nav.ui.top.attached.menu
  a.item(href="/") 
    i.home.icon
    |
    | Home
  .right.menu
    a.item(href="/movies/new")
      i.film.icon
      |
      | New movie
    a.item(href="/actors/new")
      i.add.user.icon
      |
      | Add actor
    a.item(href="/directors/new")
      i.add.user.icon
      |
      | Add director
